<div class="questions-edit">
  <%= form_with(model: @question, local: true) do |form| %>
  <div class="container main-container">
    <h3 class="main-title">Editing Question</h3>
    <div class="form">

      <div class="form-group">
        <%= form.text_field :title, placeholder: "title", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.text_area :content, placeholder: "content", rows: 10, class: "form-control" %>
      </div>

    </div>
  </div>
  <div class="action text-right">
    <%= form.submit nil, class: 'btn btn-outline-info btn-sm' %>
    <%= link_to 'Destroy', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-info btn-sm remove-active' %>
  </div>
  <% end %>
</div>
