<div class="questions-index">
  <div class="container main-container">
    <h3 class="main-title"><%= t '.title' %></h3>
    <div class="form">
      <%= search_form_for @search do |f| %>
      <div class="form-group row">
        <%= f.search_field :title_cont, placeholder: "タイトルから質問を検索", class: "form-control col-9" %><%= f.submit nil, class: "btn btn-info col-2 ml-1" %>
      </div>
      <% end %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" class="sort-link"><%= sort_link(@search, :created_at) %><%= sort_link(@search, :reply, false, default_order: :asc) %></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.includes(:user).each do |question| %>
        <tr>
          <% if user_signed_in? %>
          <th><%= link_to question.title, question_path(question), class: "question-title" %></th>
          <% if question.solved %>
          <th class="solved-icon text-right"><p><%= t '.solved' %></p></th>
          <% else %>
          <th class="unsolved-icon text-right"><p><%= t '.unsolved' %></p></th>
          <% end %>
          <% elsif question.checked_by_admin == false %>
          <th><%= link_to question.title, question_path(question), class: "unchecked-question-title" %></th>
          <% elsif question.reply == false && question.checked_by_admin == true %>
          <th><%= link_to question.title, question_path(question), class: "unreplied-question-title" %></th>
          <% else %>
          <th><%= link_to question.title, question_path(question), class: "question-title" %></th>
          <% end %>
        </tr>
        <tr>
          <td colspan="2"><%= Question.human_attribute_name(:updated_at) %>：<%= question.updated_at.to_s(:datetime_jp) %></td>
        </tr>
        <tr>
          <td colspan="2"><%= Question.human_attribute_name(:user) %>：<%= question.user.name %></td>
        </tr>
        <tr>
          <td colspan="2"><%= Question.human_attribute_name(:checker) %>：<%= question.checker || "#{t '.unchecked'}" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= Question.human_attribute_name(:part) %>：<%= question.part.title %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
