<div class="questions-index">
  <div class=container>
    <div class="main-wrap">
      <div class="main">
        <h3>Question Index</h3>
        <div class="form">
          <%= search_form_for @search do |f| %>
          <div class="form-group">
            <%= f.search_field :title_cont, placeholder: "search question", class: "form-control" %>
            <div class="text-right">
              <%= f.submit 'search', class: "btn btn-outline-info btn-sm" %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="main-table">
          <table class="table">
            <thead>
              <tr>
                <th class="sort-link"><%= sort_link(@search, :created_at) %></th>
              </tr>
            </thead>
            <tbody>
              <% @questions.each do |question| %>
              <tr>
                <th><%= link_to question.title, question_path(question), class: "question-title" %></th>
              </tr>
              <tr>
                <td>質問者：<%= question.user.name %></td>
              </tr>
              <tr>
                <td>part：<%= question.part.title %></td>
              </tr>
              <tr>
                <td><%= question.content %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
