<div class="questions-show">
  <div class=container>
    <div class="main-wrap">
      <div class="main">
        <h3>Question</h3>
        <div class="main-table">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3><%= @question.title %></h3></li>
            <li class="list-group-item">質問者：<%= @question.user.name %></li>
            <li class="list-group-item"><%= @question.content %></li>
          </ul>
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_project_subject_part_question_path(@project, @subject, @part, @question), class: 'btn btn-outline-info btn-sm' %>
            <%= link_to 'Destroy', project_subject_part_question_path(@project, @subject, @part, @question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-info btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="comments-area">
      <%= render partial: 'comments/index', locals: { project: @project, subject: @subject, part: @part, question: @question, comments: @comments } %>
    </div>
    <div id="comments-form">
      <%= render partial: 'comments/form', locals: { comment: @comment, question: @question, part: @part, subject: @subject, project: @project } %>
    </div>
  </div>
</div>
