<div class="questions-show">
  <div class="container main-container">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-title"><%= @question.title %></li>
      <li class="list-group-item list-questioner"><%= t '.user' %>：<%= @question.user.name %></li>
      <% if @question.checker.present? %>
        <li class="list-group-item list-questioner"><%= t '.checker' %>：<%= @question.checker %></li>
      <% end %>
      <li class="list-group-item"><%= simple_format(h(@question.content), {}, sanitize: false, wrapper_tag: "div") %></li>
    </ul>
  </div>
  <% if user_signed_in? && current_user == @question.user %>
  <div class="action text-right">
    <%= link_to "#{t 'attributes.edit'}", edit_question_path(@question), class: 'btn btn-outline-info btn-sm' %>
    <%= link_to "#{t 'attributes.destroy'}", question_path(@question), method: :delete, data: { confirm: "#{t '.destroy-confirmation'}" }, class: 'btn btn-outline-info btn-sm' %>
  </div>
  <% end %>
  <div id="comments-area">
    <%= render partial: 'comments/index', locals: { question: @question, comments: @comments } %>
  </div>
  <% if admin_signed_in? || @question.user == current_user %>
  <div id="comments-form">
    <%= render partial: 'comments/form', locals: { comment: @comment, question: @question } %>
  </div>
  <% end %>
  <% if user_signed_in? && current_user == @question.user && !@question.solved? %>
  <div class="action text-right">
    <%= link_to "#{t '.solved'}", question_path(@question, params: { question: { solved: true} }), :method => :put, data: { confirm: "#{t '.solved-confirmation'}" }, class: 'btn btn-info btn-sm' %>
  </div>
  <% end %>
</div>
