<table class="table table-hover" id="part-sortable">
  <tbody>
    <% @subjects.each_with_index do |subject, index| %>
      <% if subject.id.present? %>
        <tr class="ui-state-disabled">
          <th><%= subject.title %></th>
          <th class="text-right"><%= link_to "", new_subject_part_path(subject), class: "far fa-plus-square fa-lg new-part-icon" %></th>
        </tr>
        <% subject.parts.rank(:row_order).each do |part| %>
          <% if part.id.present? %>
            <tr data-index=<%= "#{index}" %> data-item-id=<%= "#{part.id}" %> class="item">
              <td><%= link_to part.title, part_path(part), class: "part-title" %></td>
              <td class="text-right"><%= link_to "#{t 'attributes.edit'}", edit_part_path(part), class: "btn btn-outline-info btn-sm" %>
              <%= link_to "#{t 'attributes.destroy'}", part_path(part), method: :delete, data: { confirm: "#{t '.destroy-confirmation'}" }, class: "btn btn-outline-info btn-sm" %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
