<% if @part.status_i18n == "クリア！" %>
<%= stylesheet_link_tag "part_status", :media => "all" %>
<% end %>
<div class="parts-show">
  <div class=container>
    <div class="main-wrap">
      <div class="main">
        <h3 class="title"><%= @part.subject.title %></h3>
        <% if user_signed_in? %>
        <h4 class="text-right"><%= link_to @part.status_i18n, part_toggle_status_path(@part), method: :patch, class: 'btn btn-outline-info btn-sm part-status mr-2' %><%= link_to "質問する", new_part_question_path(@part), class: 'btn btn-outline-info btn-sm part-question' %></h4>
        <% end %>
        <div class="main-table">
          <table class="table table-responsive">
            <thead class="thead-default">
              <tr>
                <th class="part-title"><%= @part.title %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @part.content.html_safe %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if admin_signed_in? %>
    <div class="part-action text-right">
      <%= link_to 'Edit', edit_part_path(@part), class: 'btn btn-outline-info btn-sm' %>
    </div>
    <% end %>
    <% if user_signed_in? %>
    <h4 class="part-action text-right"><%= link_to @part.status_i18n, part_toggle_status_path(@part), method: :patch, class: 'btn btn-outline-info btn-sm part-status mr-2' %><%= link_to "質問する", new_part_question_path(@part), class: 'btn btn-outline-info btn-sm part-question' %></h4>
    <% end %>
  </div>
</div>
