<div class="comment-form">
<%= form_with(model: [question, comment]) do |form| %>

<% if false %>
ここがうまく機能しない！！
<% if comment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
  <ul>
    <% comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% end %>

<div class="form-group">
  <%= form.text_area :content, placeholder: "返信する内容", rows: 5, class: "form-control" %>
  <div class="action text-right">
    <%= form.submit "#{t 'questions.show.reply'}", class: 'btn btn-info btn-sm' %>
  </div>
</div>
<% end %>
</div>
