<% if admin_participation? %>
<div class="header">
  <div class="header-brand">
    <% if admin_project.categories.count() == 1 %>
    Quick Learning
    <% else %>
    <div class="dropdown">
      <button type="button" id="dropdown1"
      class="btn dropdown-toggle dropdown-category-btn"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"><%= admin_choice_category.title %></button>
      <div class="dropdown-menu" aria-labelledby="dropdown1">
        <% admin_project.categories.each do |category| %>
        <%= link_to category.title, admin_choice_categories_path(category_id: category.id), method: :post, class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="header-nav">
    <%= link_to "マイページ", current_admin %>
    <div class="dropdown">
      <button type="button" id="dropdown1"
      class="btn"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">招待する</button>
      <div class="dropdown-menu" aria-labelledby="dropdown1">
        <%= link_to "社員を招待", new_admin_invitation_path, class: 'dropdown-item' %>
        <%= link_to "生徒を招待", new_user_invitation_path, class: 'dropdown-item' %>
      </div>
    </div>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <label id="header-close" for="openSidebarMenu"></label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner dropdwn">
      <% admin_project.subjects.where(category_id: admin_choice_category.id).each do |subject| %>
      <li><%= subject.title %>
        <% if subject.parts.present? %>
        <ul class="dropdwn_menu">
          <% subject.parts.each do |part| %>
          <li><%= link_to part.title, part_path(part.id) %></li>
          <% end %>
        </ul>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render partial: 'layouts/flashMessage' %>
<%= render partial: 'layouts/navigation' %>
<% else %>
<%= render partial: 'layouts/headers/noHeaderNav' %>
<% end %>
