<% if user_participation? %>
<div class="header">
  <div class="header-brand">Quick Learning / <%= current_user.name %></div>
  <div class="header-nav">
    <%= link_to "カテゴリ", project_categories_path(user_project) %>
    <%= link_to "プロフィール", current_user %>
    <%= link_to "自分の質問", self_questions_path %>
    <%= link_to "みんなの質問", questions_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <label id="header-close" for="openSidebarMenu"></label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner dropdwn">
      <% user_project.subjects.where(category_id: 1).each do |subject| %>
      <li><%= subject.title %>
        <% if subject.parts.present? %>
        <ul class="dropdwn_menu">
          <% subject.parts.each do |part| %>
          <li><%= link_to part.title, part_path(part.id) %></li>
          <% end %>
        </ul>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% else %>
<%= render partial: 'layouts/headers/noHeaderNav' %>
<% end %>
<%= render partial: 'layouts/flashMessage' %>
