<div class="header">
  <div class="header-brand">Quick Learning</div>
  <div class="header-link">
    <%= link_to "プロフィール", current_user %>
    <%= link_to "自分の質問", user_question_questions_path %>
    <%= link_to "みんなの質問", questions_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
</div>
<%= render partial: 'layouts/errorMessage' %>
