<% if user_signed_in? %>
<div class="header">
  <div class="header-brand">Quick Learning / <%= current_user.name %></div>
  <div class="header-link">
    <%= link_to "プロフィール", current_user %>
    <%= link_to "自分の質問", user_question_questions_path %>
    <%= link_to "みんなの質問", questions_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <label id="header-close" for="openSidebarMenu"></label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner dropdwn">
      <% user_project.subjects.each do |subject| %>
      <li><%= subject.title %>
        <% if subject.parts.present? %>
        <ul class="dropdwn_menu">
          <% subject.parts.each do |part| %>
          <li><%= link_to part.title, project_subject_part_path(user_project.id, subject.id, part.id) %></li>
          <% end %>
        </ul>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% else %>
<div class="header">
  <div class="header-brand">Quick Learning</div>
  <div class="header-link">
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Administer here!', new_admin_session_path %>
    <%= render "users/shared/links" %>
  </div>
</div>
<% end %>
<%= render partial: 'layouts/flashMessage' %>
