<% if user_answer.edit == "edit" %>
<% if user_answer.description.present? %>
<div class="test-question-content">
  <p class="text-description">アドバイス</p>
  <%= simple_format(h(user_answer.description), {}, sanitize: false, wrapper_tag: "div") %>
</div>
<% end %>
<div class="action text-right">
  <%= link_to user_answer.edit, user_answer_toggle_status_path(user_answer), method: :patch, remote: true, class: "btn btn-outline-info btn-sm" %>
</div>
<% else %>
<div class="test-question-content">
<%= form_with model: user_answer do |form| %>
<%= form.text_area :description, rows:5, class: "form-control" %>
<div class="action">
  <%= form.submit nil, class: 'btn btn-info btn-block btn-sm mt-1' %>
</div>
<% end %>
</div>
<% end %>
