<div class="user_answers-show">
  <div class="container main-container">
    <h3 class="main-title"><%= @test.title %></h3>
    <% @test_questions.each_with_index do |test_question, n|%>
    <% if test_question.title.present? %>
    <div class="test-question-title">
      <h5>問題<%= n+1 %>.　<%= test_question.title %></h5>
    </div>
    <% end %>
    <div class="test-question-content">
      <%= simple_format(h(test_question.content), {}, sanitize: false, wrapper_tag: "div") %>
    </div>
    <div class="test-question-content">
      <%= UserAnswer.where(user_id: @user.id).find_by(test_question_id: test_question.id).answer %>
    </div>
    <% end %>
  </div>
</div>
