<div class="users-show">
  <div class="container main-container user-information-container">
    <h3 class="main-title"><%= @user.name %></h3>
    <table class="table">
      <tbody>
        <tr>
          <th><%= User.human_attribute_name(:email) %></th>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% if user_choosed_category.subjects.present? %>
  <div class="container main-container achievement-information-container">
    <div class="action">
      <%= link_to "#{t '.backed_answer_papers_index'}", backed_answer_papers_path, class: "btn btn-login btn-block btn-sm" %>
    </div>
    <table class="table table-hover">
      <tbody>
        <% user_choosed_category.subjects.each do |subject| %>
        <tr>
          <th><%= subject.title %></th>
          <th colspan="1"></th>
        </tr>
        <% subject.parts.order(created_at: :asc).each do |part| %>
        <% if part.id.present? %>
        <tr>
          <td><%= link_to part.title, part_path(part) %></td>
          <td class="icon text-right">
            <% if current_user.achieveds.find_by(part_id: part.id) %>
            <i class="far fa-circle achieved-icon"></i>
            <% else %>
            <i class="far fa-circle unachieved-icon"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
