<% if answer_paper.edit == "edit" %>
<% if answer_paper.description.present? %>
<div class="test-question-content">
  <p class="text-description">アドバイス</p>
  <%= simple_format(h(answer_paper.description), {}, sanitize: false, wrapper_tag: "div") %>
</div>
<% end %>
<div class="action text-right">
  <%= link_to answer_paper.edit, answer_paper_toggle_status_path(answer_paper), method: :patch, remote: true, class: "btn btn-outline-info btn-sm" %>
</div>
<% else %>
<div class="test-question-content">
<%= form_with model: answer_paper do |form| %>
<%= form.text_area :description, rows:5, class: "form-control" %>
<div class="action">
  <%= form.submit nil, class: 'btn btn-info btn-block btn-sm mt-1' %>
</div>
<% end %>
</div>
<% end %>
