<div class="tests-show">
  <div class="container main-container">
    <h3 class="main-title"><%= @test.title %></h3>
    <%= form_with model: @answer_papers, url: answer_papers_path, local: true do |form| %>
    <% @test_questions.each do |test_question|%>
    <%= fields_for 'answer_papers[]', test_question do |field| %>
    <%= field.hidden_field :user_id, :value => current_user.id %>
    <%= field.hidden_field :test_question_id, :value => test_question.id %>
    <% if test_question.title.present? %>
    <div class="field">
      <%= test_question.title %>
    </div>
    <% end %>
    <div class="field">
      <%= test_question.content %>
    </div>
    <div class="field">
      <%= field.label :content %>
      <%= field.text_area :content %>
    </div>
    <% end %>
    <% end %>
    <div class="actions">
      <%= form.submit %>
    </div>
    <% end %>
  </div>
</div>
