<div class="test_questions-index">
  <div class="container main-container">
    <h3 class="main-title"><%= t '.title' %></h3>
    <table class="table table-hover" id="test_question-sortable">
      <tbody>
        <tr>
          <th><%= link_to @test.title, test_path(@test), class: "test-title" %></th>
          <th class="text-right"><%= link_to "", new_test_test_question_path(@test), class: "far fa-plus-square fa-lg new-part-icon" %></th>
        </tr>
        <% @test_questions.each do |test_question| %>
        <% if test_question.id.present? %>
        <tr data-item-id=<%= "#{test_question.id}" %> data-test-id=<%= "#{@test.id}" %> class="item">
          <td><%= link_to test_question.title, test_question_path(test_question), class: "test_question-title" %></td>
          <td class="text-right">
            <%= link_to "#{t 'attributes.edit'}", edit_test_question_path(test_question), class: "btn btn-outline-info btn-sm" %>
            <%= link_to "#{t 'attributes.destroy'}", test_question_path(test_question), method: :delete, data: { confirm: "#{t '.destroy_confirmation'}" }, class: "btn btn-outline-info btn-sm" %>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
