<div class="backed_answer_papers-show">
  <div class="container main-container">
    <h3 class="main-title"><%= @test.title %></h3>
    <% @answer_papers.each_with_index do |answer_paper, n|%>
    <% if answer_paper.title.present? %>
    <div class="test-question-title">
      <h5>問題<%= n+1 %>.　<%= answer_paper.title %></h5>
    </div>
    <% end %>
    <div class="test-question-content">
      <%= simple_format(h(answer_paper.content), {}, sanitize: false, wrapper_tag: "div") %>
    </div>
    <div class="test-question-content">
      <p class="text-advice">あなたの答え</p>
      <%= simple_format(h(answer_paper.answer), {}, sanitize: false, wrapper_tag: "div") %>
    </div>
    <div class="test-question-content">
      <p class="text-advice">正解</p>
      <%= simple_format(h(answer_paper.correct_answer), {}, sanitize: false, wrapper_tag: "div") %>
    </div>
    <% if answer_paper.advice.present? %>
    <div class="test-question-content">
      <p class="text-advice">アドバイス</p>
      <%= simple_format(h(answer_paper.advice), {}, sanitize: false, wrapper_tag: "div") %>
    </div>
    <% end %>
    <div id="memo<%= answer_paper.id %>_area" class="test-question-content">
      <%= render partial: 'answer_papers/memo', locals: { answer_paper: answer_paper } %>
    </div>
    <% end %>
  </div>
</div>
