<div class="tests-entry">
  <div class="container main-container">
    <h3 class="main-title"><%= @test.title %></h3>
    <%= form_with model: @user_answers, url: user_answers_path, local: true do |form| %>
    <% @test_questions.each do |test_question|%>
    <%= fields_for 'user_answers[]', test_question do |field| %>
    <%= field.hidden_field :user_id, :value => current_user.id %>
    <%= field.hidden_field :test_question_id, :value => test_question.id %>
    <% if test_question.title.present? %>
    <div class="test-question-title">
      <%= test_question.title %>
    </div>
    <% end %>
    <div class="test-question-content">
      <%= simple_format(h(test_question.content), {}, sanitize: false, wrapper_tag: "div") %>
    </div>

    <% if test_question.form_size == 6 || test_question.form_size == 12 %>
    <div class="form-group form-answer">
      <%= field.text_area :answer, rows: 1, class: "form-control col-#{test_question.form_size}" %>
    </div>
    <% else %>
    <div class="form-group form-answer">
      <%= field.text_area :answer, rows: test_question.form_size, class: "form-control form-area" %>
    </div>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>

<script>
  history.pushState(null, null, null);
  var countup = function(){
    $('form').submit();
  }
  setTimeout(countup, 10000);
</script>
