<% if notice %>
<div class="alert alert-info">
  <%= notice %>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger">
  <%= alert %>
</div>
<% end %>
<% if devise_controller? %>
<% if resource.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% end %>
<% if @part %>
<% if @part.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @part.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% end %>





<% if false %>
ここがうまく機能しない！！
<% if @comment %>
<% if @comment.errors.any? %>
<div class="alert alert-danger>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% end %>
<% end %>
