<div class="navigation">
  <div class="row">
    <% if current_admin.admin == "true" %>
    <div class="col"><%= link_to "#{t 'navigation.projects'}", projects_path, class: "nav-link" %></div>
    <% end %>
    <div class="col"><%= link_to "#{t 'navigation.categories'}", project_categories_path(admin_project), class: "nav-link" %></div>
    <div class="col"><%= link_to "#{t 'navigation.subjects'}", project_subjects_path(admin_project.id), class: "nav-link" %></div>
    <div class="col"><%= link_to "#{t 'navigation.parts'}", parts_path, class: "nav-link" %></div>
    <div class="col"><%= link_to "#{t 'navigation.tests'}", project_tests_path(admin_project.id), class: "nav-link" %></div>
    <div class="col"><%= link_to "#{t 'navigation.questions'}", questions_path(project_id: admin_project.id), class: "nav-link" %></div>
  </div>
</div>
